* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*      main container       */
.divCon {
    width: 100%;
    background-color: rgb(15, 4, 39);
    display: flex;
    flex-direction: row;
    padding: 5vh;
}
/*      left div     */
.divL {
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.choiceDiv {
    width: 80%;
    height: 30vh;
    margin-left: 10%;
}
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    font-size: 60px;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
    color: orange;
}
.label {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    height: 5vh;
    width: 80%;
    background-color: grey;
}
input::placeholder {
    color: black;
}
/*      btn div      */
.btnDiv {
    width: 80%;
    height: 5vh;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    width: 80%;
    height: 4vh;
    background-color: #1e293b;
    border-radius: 10px;
    border: 1px solid purple;
    cursor: pointer;
    text-align: center;
    color: white;
    text-decoration: wavy;
    font-size: 1rem;
}
/*      right div        */
.divR {
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 10%;
}
.bmiD {
    width: 80%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pbmi {
    width: 80%;
    height: 10vh;
    text-align: end;
    font-size: 5vh;
    padding-right: 5px;
}
.pBmi ::placeholder {
    color: black;
}
.pointsD {
    width: 80%;
    height: 50vh;
}
.head3 {
    height: 10vh;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 10px;
    color: #10b981;
}
.descDiv {
    width: 80%;
    height: 40vh;
    margin-left: 10%;
}
.des {
    height: 10vh;
    width: 80%;
    text-align: center;
    font-size: 2.5vh;
    padding-top: 15px;
    color: #be123c;
}
/*      Adding Responsiveness    */
@media (min-width: 300px) and (max-width: 567px) {
    .divCon {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2vh;
    }
    .divL {
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .heading {
        font-size: 35px;
    }
    .btnDiv {
        margin-left: 10%;
        margin-bottom: 20px;
    }
    .btn {
        height: 5vh;
        font-size: 1.1rem;
    }
    .divR {
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .bmiD {
        width: 90%;
        height: 10vh;
    }
    .pbmi {
        font-size: 2rem;
    }
    .pointsD {
        width: 80%;
        height: 50vh;
    }
    .head3 {
        font-size: 1.5rem;
        font-weight: 300;
        padding-bottom: 10px;
    }
    .des {
        height: 08vh;
        font-size: 1rem;
    }
}
@media (min-width: 568px) and (max-width: 767px) {
    .heading {
        font-size: 50px;
    }
    .label {
        margin-top: 5px;
    }
    input {
        height: 4vh;
        width: 80%;
        background-color: grey;
    }
    .btnDiv {
        margin-left: 10%;
        margin-bottom: 25px;
    }
    .btn {
        height: 5vh;
        font-size: 1.2rem;
    }
    .bmiD {
        width: 90%;
        height: 08vh;
    }
    .pbmi {
        font-size: 2.2rem;
    }
    .pointsD {
        width: 80%;
    }
    .head3 {
        font-size: 1.3rem;
        font-weight: 700;
    }
    .des {
        height: 08vh;
        font-size: 1.3rem;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .heading {
        font-size: 50px;
    }
    .btnDiv {
        margin-left: 10%;
        margin-bottom: 20px;
    }
    .btn {
        height: 5vh;
        font-size: 1.3rem;
    }
    .bmiD {
        width: 90%;
        height: 10vh;
    }
    .pbmi {
        font-size: 2.5rem;
    }
    .pointsD {
        width: 80%;
        height: 50vh;
    }
    .head3 {
        font-size: 1.8rem;
        font-weight: bold;
    }
    .des {
        height: 08vh;
        font-size: 1.3rem;
        text-align: center;
        padding-top: 25px;
    }
}
@media (min-width:1024px) {
    .des{
        font-size: 1.7rem;
    }
}