* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*      container        */
.container {
    background-color: rgb(15, 4, 39);
    width: 100%;
    height: 85vh;
    position: absolute;
}
.calculator-container {
    background-color: white;
    width: 60%;
    height: 80%;
    margin-top: 5%;
    margin-left: 20%;
}
/*      output      */
#outputDisplay {
    width: 100%;
    height: 20%;
    background-color: #6b7280;
    color: rgb(220, 211, 211);
    color: black;
    font-size: 3rem;
    text-align: right;
    padding-right: 10px;
}
::placeholder {
    color: black;
}
/*      btn container    */
.btn-container {
    background-color: #1e293b;
    height: 80%;
    width: 100%;
    padding: 20px;
}
.row {
    width: 100%;
    height: 17%;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button {
    font-size: 30px;
    text-align: center;
    width: 110px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid orange;
}
#equal {
    background-color: #0000ff;
    color: white;
}
.digits {
    color: white;
    background-color: #94a3b8;
}