* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*      container        */
.container {
    background-color: rgb(15, 4, 39);
    width: 100%;
    height: 85vh;
    position: absolute;
}
.calculator-container {
    background-color: white;
    width: 60%;
    height: 80%;
    margin-top: 5%;
    margin-left: 20%;
}
/*      output      */
#outputDisplay {
    width: 100%;
    height: 20%;
    background-color: #6b7280;
    color: rgb(220, 211, 211);
    color: black;
    font-size: 3rem;
    text-align: right;
    padding-right: 10px;
}
::placeholder {
    color: black;
}
/*      btn container    */
.btn-container {
    background-color: #1e293b;
    height: 80%;
    width: 100%;
    padding: 20px;
}
.row {
    width: 100%;
    height: 17%;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button {
    font-size: 30px;
    text-align: center;
    width: 110px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid orange;
}
#equal {
    background-color: #0000ff;
    color: white;
}
.digits {
    color: white;
    background-color: #94a3b8;
}
/*      Adding Responsiveness    */
@media (min-width: 300px) and (max-width: 567px) {
    .calculator-container {
        width: 80%;
        height: 90%;
        margin-top: 5%;
        margin-left: 10%;
    }
    #outputDisplay {
        width: 100%;
        height: 15%;
        font-size: 2.2rem;
    }
    .btn-container {
        height: 85%;
        padding: 15px;
    }
    .row {
        height: 18%;
        padding: 05px;
        margin-bottom: 10px;
    }
    button {
        font-size: 20px;
        border-radius: 15px;
        margin-left: 2.5px;
        margin-right: 2.5px;
    }
}
@media (min-width: 568px) and (max-width: 767px) {
    .calculator-container {
        width: 80%;
        height: 90%;
        margin-top: 5%;
        margin-left: 10%;
    }
    #outputDisplay {
        width: 100%;
        height: 20%;
        font-size: 3rem;
    }
    .btn-container {
        height: 80%;
        padding: 15px;
    }
    .row {
        height: 18%;
        padding: 05px;
        margin-bottom: 10px;
    }
    button {
        font-size: 30px;
        border-radius: 15px;
        margin-left: 2.5px;
        margin-right: 2.5px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .calculator-container {
        width: 80%;
        height: 90%;
        margin-top: 5%;
        margin-left: 10%;
    }
    #outputDisplay {
        width: 100%;
        height: 20%;
        font-size: 3rem;
    }
    .btn-container {
        height: 80%;
        padding: 15px;
    }
    .row {
        height: 18%;
        padding: 05px;
        margin-bottom: 10px;
    }
    button {
        font-size: 2.5rem;
        border-radius: 18px;
        margin-left: 2.5px;
        margin-right: 2.5px;
    }
}